.registrationContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100vh; /* Занимает всю высоту экрана */
	background-image: url('/public/TableReg.png'); /* Путь к изображению */
	background-size: contain; /* Уменьшает изображение, чтобы оно полностью помещалось в контейнер */
	background-repeat: no-repeat; /* Запрещает повторение фона */
	background-position: center; /* Центрирует фон */

	font-family:
		Arial,
		sans-serif;
	color: #fff; /* Цвет текста */
}

.fildRegistration {
	position: absolute; /* Абсолютное позиционирование относительно родительского контейнера */
	top: 53%; /* Положение по вертикали (например, 50% от верхнего края) */
	left: 50%; /* Положение по горизонтали (например, 50% от левого края) */
	transform: translate(
		-50%,
		-50%
	); /* Центрирование относительно указанных координат */

	width: 60%; /* Ширина обертки (например, 60% от ширины экрана) */
	max-width: 410px; /* Максимальная ширина для больших экранов */
	height: 60%;
	max-height: 700px;

	padding: 20px; /* Внутренний отступ */
	/*background-color: rgba(
		0,
		0,
		0,
		0.7
	);*/ /* Полупрозрачный фон для имитации цветного поля */

	border-radius: 10px; /* Закругление углов */
	box-shadow: 0
		4px
		8px
		rgba(
			0,
			0,
			0,
			0.5
		); /* Тень для эффекта объема */

	display: flex; /* Флексбокс для удобного расположения дочерних элементов */
	flex-direction: column; /* Элементы располагаются вертикально */
	align-items: center; /* Выравнивание по центру по горизонтали */
	justify-content: flex-start; /* Выравнивание по центру по вертикали */
}

.fildRegistration
	h1 {
	font-size: 20px;
	margin-bottom: 5px;
	text-align: center;
	color: #1bbd15; /* Цвет текста */
}

.form {
	display: flex;
	flex-direction: column;
	width: 300px;
	padding: 20px;
	background-color: rgba(
		0,
		0,
		0,
		0.7
	); /* Полупрозрачный фон для формы */
	border-radius: 10px;
	gap: 5px; /* Отступ между элементами формы */
}

.inputGroup {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 5px; /* Отступ между меткой и полем ввода */
}
.inputGroup
	label {
	font-size: 1rem;
	color: #fff; /* Цвет текста */
}

input {
	width: 100%;
	padding: 10px;
	font-size: 1rem;
	border: none;
	border-radius: 5px;
	background-color: rgba(
		255,
		255,
		255,
		0.1
	);
	color: #fff;
	outline: none; /* Убираем рамку при фокусе */
	box-sizing: border-box;
}

.input::placeholder {
	color: rgba(
		255,
		255,
		255,
		0.5
	); /* Цвет плейсхолдера */
}

button {
	padding: 10px;
	font-size: 1rem;
	background-color: #ff4500; /* Оранжевый цвет кнопки */
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #38312f;
}

.error {
	color: red;
	font-size: 11px;
	margin-bottom: 1px;
}

.buttonReg {
	position: absolute; /* Абсолютное позиционирование */
	top: 85%; /* Например, 60% от верхнего края */
	left: 50%; /* 50% от левого края */
	transform: translate(
		-50%,
		-50%
	);
	padding: 10px;
	font-size: 1rem;
	background-color: #672108;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;

	width: 255px;
	height: 60px;
}

.buttonReg:hover {
	background-color: #ff6347; /* Темно-оранжевый при наведении */
}

.buttonReg:disabled {
	background-color: #888; /* Цвет кнопки при блокировке */
	cursor: not-allowed;
}
